<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnguigu.zshop.dao.OrderItemDao">
    <select id="getOrderItemByOrderId" resultType="orderItem">
        select *
        from t_order_item
        where order_id = #{order.id};
    </select>

    <insert id="save">
        insert into t_order_item (product_id, num, price, order_id)
        values (#{product.id}, #{num}, #{price}, #{order.id});
    </insert>
</mapper>