<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- activemq 配置 -->
    <!-- 配置连接工厂 -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <!-- 配置消息服务中间件地址 -->
        <property name="brokerURL" value="tcp://localhost:61616"></property>
        <!-- 配置用户名和密码 -->
        <property name="userName" value="admin"></property>
        <property name="password" value="admin"></property>
    </bean>

    <!-- 配置工厂连接池 -->
    <bean id="pooledConnectionFactoryBean" class="org.apache.activemq.pool.PooledConnectionFactoryBean">
        <!-- 注入连接工厂bean -->
        <property name="connectionFactory" ref="activeMQConnectionFactory"></property>
    </bean>

    <!-- 使用spring来进行管理 -->
    <bean id="singleConnectionFactory"
          class="org.springframework.jms.connection.SingleConnectionFactory">
        <!-- 注入连接工厂连接池的bean -->
        <property name="targetConnectionFactory" ref="pooledConnectionFactoryBean"></property>
    </bean>

    <!-- 配置JmsTemplate -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 注入使用spring来进行管理的bean -->
        <property name="connectionFactory" ref="singleConnectionFactory"></property>
    </bean>

    <!-- 配置回调消息处理类 -->
    <bean id="myMessageListener" class="com.hnguigu.zshop.bakend.message.MyMessageListener"></bean>


    <!-- 配置消息消费方监听器 -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <!-- 注入使用spring来进行管理的bean -->
        <property name="connectionFactory" ref="singleConnectionFactory"></property>
        <!-- 配置回调消息处理类：当监听到消息后，该做什么 -->
        <property name="messageListener" ref="myMessageListener"></property>
        <!-- 监听目标名称 -->
        <property name="destinationName" value="message_freemarker_product"></property>
    </bean>

</beans>