<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnguigu.zshop.dao.ProductDao">

    <resultMap id="productMap" type="product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="info" column="info"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="url" column="url"/>
        <association property="productType" javaType="productType" column="product_type_id">
            <id property="typeId" column="type_id"/>
            <result property="typeName" column="type_name"/>
            <result property="typeStatus" column="type_status"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="productMap">
        select *
        from t_product p
                 left join t_product_type p1 on p.product_type_id = p1.type_id
    </select>

    <insert id="add" parameterType="product" useGeneratedKeys="true" keyProperty="id">
        insert into t_product (name, price, info, image, product_type_id)
        values (#{name}, #{price}, #{info}, #{image}, #{productType.typeId});
    </insert>

    <select id="getProductByName" resultMap="productMap">
        select *
        from t_product p
                 left join t_product_type p1 on p.product_type_id = p1.type_id
        where p.name = #{name};
    </select>

    <select id="getProductById" resultMap="productMap">
        select *
        from t_product p
                 left join t_product_type p1 on p.product_type_id = p1.type_id
        where p.id = #{id};
    </select>

    <select id="getProductByTypeId" resultMap="productMap">
        select *
        from t_product p
                 left join t_product_type p1 on p.product_type_id = p1.type_id
        where p.product_type_id = #{id};
    </select>

    <delete id="delProductById">
        delete
        from t_product
        where id = #{id}
    </delete>
    <update id="update" parameterType="map">
        update t_product
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="image!=null and image!=''">image=#{image},</if>
            <if test="productTypeId!=null">product_type_id=#{productTypeId},</if>
        </trim>
        where id=#{id}
    </update>
    <update id="updateUrl">
        update t_product
        set url = #{path}
        where id = #{id};
    </update>
</mapper>